body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.navbar {
    background-color: #000000;
}

.quem-somos {
    background-color: #1190C8;
    color: #FFFFFF;
}

.margin {
    padding-top: 50px;
    padding-bottom: 50px;
}

h3 {
    font-weight: bold;
    font-size: 30px;
}

a {
    font-weight: bold;
}

.rodape {
    background-color: #000000;
    color: #FFFFFF;
}

.w50{
    width: 50%;
}

@media screen and (max-width: 768px) {
    .w50{width: 100%;}
}